#revcont {
	margin-left: 50px;
	margin-top: 10%; /*header stuff idk*/
    margin-bottom: 100px;
	width: 90%;
	text-align: left;
}

#revrcont {
    background: lightgray;
    border-radius: 15px;
    height: 200px;
    margin-bottom: 20px;
}

#revpad {
    padding: 15px;
}
svg {
    width: 30px;
    padding-top: 5px;
}
.revimg {
    display: block;
    width: 250px;
    float: right;
}

.revdate {
    font-weight: bold;
    font-size: 1.4em;
}
.revname {
    font-size: 1.4em;
}
.revdivider {
    width: 17%;
    height: 5px;
    background: darkgray;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.revtitle {
    font-size: 1.3em;
}
.revdesc {
    font-size: 1.2em;
}


@media only screen and (max-width: 1280px){
    #revcont {
		margin-left: 50px;
		margin-top: 13%;
		width: 85%;
		text-align: left;
	}
}

@media only screen and (max-width: 1080px){
    #revcont {
		margin-left: 50px;
		margin-top: 15%;
		width: 90%;
		text-align: left;
	}
	#revcont h1 {
		font-size: 3.5em;
	}
    #revrcont {
        background: lightgray;
        border-radius: 15px;
        height: 300px;
        margin-bottom: 20px;
    }
    #revpad {
        padding: 10px;
    }
    svg {
        width: 50px;
        padding-top: 5px;
    }
    .revimg {
        display: block;
        width: 300px;
        float: right;
    }
    .revdate {
        font-weight: bold;
        font-size: 1.9em;
    }
    .revname {
        font-size: 1.9em;
    }
    .revdivider {
        width: 37%;
        height: 5px;
        background: darkgray;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    .revtitle {
        font-size: 1.8em;
    }
    .revdesc {
        font-size: 1.7em;
        width: 60%;
    }
}

