#contactcont {
	margin-left: 50px;
	margin-top: 10%; /*header stuff idk*/
	width: 90%;
	text-align: left;
}
.conti {
	width: 75%;
	text-align: left;
	font-size: 1.5em;
}
.conti > a {
	color: #000;
}
.conti > a:hover {
	color: gray;
}

.contiframe {
	float: right;
	margin-right: 50px;
	width: 1050px;
	height: 650px;
}
.contiframemobile {
	display: none;
	visibility: hidden;
}


@media only screen and (max-width: 1280px){
    #contactcont {
		margin-left: 50px;
		margin-top: 13%;
		width: 75%;
		text-align: left;
	}
	.contiframe {
		width: 650px;
		height: 650px;
	}
}

@media only screen and (max-width: 1080px){
    #contactcont {
		margin-left: 50px;
		margin-top: 15%;
		width: 90%;
		text-align: left;
	}
	#contactcont h1 {
		font-size: 3.5em;
	}
	.conti {
		font-size: 2.5em;
		margin-bottom: 25px;
	}
	.contiframe {
		display: none;
		visibility: hidden;
	}
	.contiframemobile {
		display: block;
		visibility: visible;
		margin: 0 auto;
		width: 85%;
		height: 45%;
		margin-top: 30px;
	}
}
