/* about */
#aboutcont {
	margin-left: 50px;
	margin-top: 13%; /*header stuff idk*/
	width: 75%;
	text-align: left;
}
.abh {
	text-decoration: underline;
}
.abdiv {
	font-size: 1.5em;
	margin-top: 10px;
}

.imgr, .imgl {
	width: 40%;
	margin-top: 15px;
}
.imgl {
	float: left;
	margin-left: 50px;
}
.imgr {
	float: right;
	margin-right: 50px;
}

/*----------*/

/* vacancies */
#vaccont {
	margin-left: 50px;
	margin-top: 13%; /*header stuff idk*/
	width: 75%;
	text-align: left;
}
.vach {
	text-decoration: underline;
}
.vacclose {
	font-size: 1.2em;
	margin-top: -15px;
	margin-bottom: 25px;
}
.vacinfo {
	font-size: 1.5em;
}

#vaclist {
	margin-left: 15px;
	width: 75%;
	text-align: left;
	font-size: 1.5em;
}
#vaclist > li {
	margin-left: 25px;
}

.vacdl {
	margin-left: 50px;
	font-size: 1.5em;
}
.vacdl > a {
	color: #000;
}
.vacdl > a:hover {
	color: gray;
}

#vacapply {
	margin-left: 50px;
	margin-top: 15px;
	width: 75%;
	text-align: left;
	font-size: 1.5em;
}
.vacad > a {
	color: #000;
}
.vacad > a:hover {
	color: gray;
}

/*----------*/

/* contact */
#contactcont {
	margin-left: 50px;
	margin-top: 13%; /*header stuff idk*/
	width: 75%;
	text-align: left;
}
.conti {
	width: 75%;
	text-align: left;
	font-size: 1.5em;
}
.conti > a {
	color: #000;
}
.conti > a:hover {
	color: gray;
}

.contiframe {
	float: right;
	margin-right: 50px;
}