/* about */
#aboutcont {
	margin-left: 50px;
	margin-top: 10%; /*header stuff idk*/
	width: 90%;
	text-align: left;
}
.abdiv {
	font-size: 1.5em;
	margin-top: 10px;
}

.imgr, .imgl {
	width: 40%;
	margin-top: 25px;
}
.imgl {
	float: left;
	margin-left: 50px;
}
.imgr {
	float: right;
	margin-right: 50px;
}


/* vacancies */
#vaccont {
	margin-left: 50px;
	margin-top: 10%; /*header stuff idk*/
	width: 90%;
	text-align: left;
}
.vacclose {
	font-size: 1.2em;
	margin-top: -15px;
	margin-bottom: 25px;
}
.vacinfo {
	font-size: 1.5em;
}

#vaclist {
	margin-left: 15px;
	width: 75%;
	text-align: left;
	font-size: 1.5em;
}
#vaclist > li {
	margin-left: 25px;
}

.vacdl {
	margin-left: 50px;
	font-size: 1.5em;
}
.vacdl > a {
	color: #000;
}
.vacdl > a:hover {
	color: gray;
}

#vacapply {
	margin-left: 50px;
	margin-top: 15px;
	width: 75%;
	text-align: left;
	font-size: 1.5em;
}
.vacad > a {
	color: #000;
}
.vacad > a:hover {
	color: gray;
}


/* contact */
#contactcont {
	margin-left: 50px;
	margin-top: 10%; /*header stuff idk*/
	width: 90%;
	text-align: left;
}
.conti {
	width: 75%;
	text-align: left;
	font-size: 1.5em;
}
.conti > a {
	color: #000;
}
.conti > a:hover {
	color: gray;
}

.contiframe {
	float: right;
	margin-right: 50px;
}

/* team */
#teamcont {
	margin-left: 50px;
	margin-top: 10%; /*header stuff idk*/
	width: 90%;
	text-align: left;
}

#staffcont {
    display: table-cell;
	width: 500px;
	padding-right: 50px;
}
#staffcont img {
    float: left;
	padding-right: 15px;
	width: 250px;
}
#staffcont .staffname {
	font-size: 1.35em;
}
#staffcont .stafftitle {
	font-size: 1.2em;
	padding-bottom: 20px;
}


@media only screen and (max-width: 1280px){
    #aboutcont, #vaccont, #contactcont, #teamcont {
		margin-left: 50px;
		margin-top: 13%;
		width: 75%;
		text-align: left;
	}
	.imgr, .imgl {
		width: 40%;
		margin-top: 15px;
	}

	#teamcont #fourthree {
		display: block !important;
		margin: 0 auto !important;
		text-align: center !important;
		padding-left: 100px;
		padding-top: 30px;
	}
	#fourthree #staffcont {
		width: 250px;
		padding-right: 100px;
	}
	iframe {
		width: 650px;
	}
}
