#aboutcont {
	margin-left: 50px;
	margin-top: 10%; /*header stuff idk*/
	width: 90%;
	text-align: left;
}
.abdiv {
	font-size: 1.5em;
	margin-top: 10px;
}

.imgr, .imgl {
	width: 40%;
	margin-top: 25px;
}
.imgl {
	float: left;
	margin-left: 50px;
}
.imgr {
	float: right;
	margin-right: 50px;
}


@media only screen and (max-width: 1280px){
    #aboutcont {
		margin-left: 50px;
		margin-top: 13%;
		width: 90%;
		text-align: left;
	}
	.imgr, .imgl {
		width: 40%;
		margin-top: 15px;
	}
}

@media only screen and (max-width: 1080px){
    #aboutcont {
		margin-left: 50px;
		margin-top: 15%;
		width: 90%;
		text-align: left;
	}
	#aboutcont h1 {
		font-size: 3.5em;
	}
	.abdiv {
		font-size: 2.5em;
		margin-bottom: 25px;
	}
	.imgr, .imgl {
		width: 45%;
		margin-top: 15px;
	}
}
